<td colspan="5">
  <div class="index-stats">
    <h4>Index Statistics</h4>
    <div class="index-stats__grid">
      <div class="index-stats__item">
        <span class="index-stats__label">code_chunks (ES)</span>
        <span class="index-stats__value">{{ code_chunks }}</span>
      </div>
      <div class="index-stats__item">
        <span class="index-stats__label">doc_chunks (ES)</span>
        <span class="index-stats__value">{{ doc_chunks }}</span>
      </div>
      <div class="index-stats__item">
        <span class="index-stats__label">rule_chunks (ES)</span>
        <span class="index-stats__value">{{ rule_chunks }}</span>
      </div>
      <div class="index-stats__item">
        <span class="index-stats__label">code_embeddings (Qdrant)</span>
        <span class="index-stats__value">{{ code_embeddings }}</span>
      </div>
      <div class="index-stats__item">
        <span class="index-stats__label">doc_embeddings (Qdrant)</span>
        <span class="index-stats__value">{{ doc_embeddings }}</span>
      </div>
    </div>
  </div>
</td>
